# run with uv pip install -r requirements.txt --index-strategy unsafe-best-match
--extra-index-url https://download.pytorch.org/whl/cu130 

torch 
torchvision
transformers
diffusers
datasets
accelerate
trl==0.21.0 # only version that includes DDPOTrainer
bitsandbytes # ddpotrainer
peft # ddpotrainer
wandb
lpips